.excerpt-toggle {
  border: none;
  background: transparent;

  .mobile-view & {
    padding: 1em 1em 0.5em;
    border-top: 1px solid var(--primary-low);
    width: 100%;
    text-align: left;
    margin-top: 0.5em;
  }
}
